/**
 * 组合样式
 * 命名规范 —— 遵守语义化命名：
 */
.margin {
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 截断两行 */
.text-truncation {
	white-space: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

// 城市选择下拉框禁用样式
.urban-choice select{
    background-color: #F5F7FA !important;
    border-color: #E4E7ED !important;
    color: #C0C4CC !important;
}

.assemble-header-select{
    .el-input__suffix {
        right: 10px !important;
    }
}