@charset "UTF-8";
/*reset 全局初始化*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #333;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  outline: none;
  cursor: pointer;
}

input, textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}

h1, h2, h3, h4, h5, h6, span {
  font-weight: normal;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
fieldset, input, textarea, p, blockquote, span, input, p, a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.alSvgIcon {
    width: 1em; 
    height: 1em;
    fill: currentColor;
    overflow: hidden;
}
.menuIcon{
    font-size: 16px;
}